:root {
  --beige: #f1e9d9;
  --verde-oliva: #6f7a53;
  --marron: #c89267;
  --gris: #5e5e5e;
  --crema: #f6e7c8;
  --verde-bosque: #475f3c;
}

body {
  margin: 0;
  font-family: 'Merriweather', sans-serif;
  background-color: #f1e9d9;
  color: #5e5e5e;
}

header {
  background-color: #475f3c;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 28px;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logo-container {
  display: flex;
  align-items: center;
  border-image: round;
}

.logo-container img {
  height: 50px;
  margin-right: 15px;
  border-radius: 35%;
}
