<header class="header-container">
  <div class="logo-container">
    <img src="/images/mini-logo.jpg" alt="Mipache Logo" class="logo-img" />
    <h1 class="logo-title">Mipache Library</h1>
  </div>

  <nav class="nav-menu">
    <a routerLink="/" routerLinkActive="activo">
      <mat-icon>home</mat-icon>
      Inicio
    </a>

    <a routerLink="/producto" routerLinkActive="activo">
      <mat-icon>book</mat-icon>
      Productos
    </a>

    <a routerLink="/promocion" routerLinkActive="activo">
      <mat-icon>local_offer</mat-icon>
      Promociones
    </a>

    <a routerLink="/resena" routerLinkActive="activo">
      <mat-icon>rate_review</mat-icon>
      Reseñas
    </a>

    <a routerLink="/pedido" routerLinkActive="activo">
      <mat-icon>shopping_cart</mat-icon>
      Pedidos ({{ cantidadTotal() }})
    </a>

    <a routerLink="/about" routerLinkActive="activo">
      <mat-icon>info</mat-icon>
      Acerca de
    </a>

    <!-- Menú de administrador -->
    <button mat-button [matMenuTriggerFor]="menu2" *ngIf="isAdmin()">
      <mat-icon>admin_panel_settings</mat-icon>
      Admin
    </button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item [routerLink]="'/videojuego-admin'" routerLinkActive="active-link">
        Videojuegos
      </button>
    </mat-menu>

    <!-- Menú de usuario -->
    <span class="small-text">{{ currentUser()?.correo }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu3">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu3="matMenu">
      <ng-container *ngIf="!isAuthenticated(); else logoutBlock">
        <button mat-menu-item (click)="login()">
          <mat-icon>person_add</mat-icon>
          <span>Login</span>
        </button>
      </ng-container>
      <ng-template #logoutBlock>
        <button mat-menu-item (click)="logout()">
          <mat-icon>person_remove</mat-icon>
          <span>Logout</span>
        </button>
      </ng-template>
    </mat-menu>
  </nav>
</header>
