<h2 mat-dialog-title>Formulario de pago</h2>

<form [formGroup]="pedidoForm" (ngSubmit)="confirmar()">
  <mat-dialog-content class="dialog-content">

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Dirección de envío</mat-label>
      <input matInput formControlName="direccion" placeholder="Dirección del cliente">
      <mat-error *ngIf="pedidoForm.get('direccion')?.invalid">Dirección requerida (mín. 6 caracteres)</mat-error>
    </mat-form-field>

    <h3 class="section-title">Método de Pago</h3>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Método</mat-label>
      <mat-select formControlName="tipoPago">
        <mat-option value="">— Selecciona —</mat-option>
        <mat-option value="TARJETA">Tarjeta</mat-option>
        <mat-option value="EFECTIVO">Efectivo</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- TARJETA -->
    <div *ngIf="pedidoForm.get('tipoPago')?.value === 'TARJETA'" formGroupName="pago">
      <div formGroupName="tarjeta" class="grid-2">
        <mat-form-field appearance="outline">
          <mat-label>Número de tarjeta</mat-label>
          <input matInput formControlName="numero" maxlength="16" placeholder="16 dígitos">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nombre del titular</mat-label>
          <input matInput formControlName="nombre">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Vencimiento (MM/AA)</mat-label>
          <input matInput formControlName="vencimiento" placeholder="MM/AA">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CVV</mat-label>
          <input matInput formControlName="cvv" maxlength="3">
        </mat-form-field>
      </div>
    </div>

    <!-- EFECTIVO -->
    <div *ngIf="pedidoForm.get('tipoPago')?.value === 'EFECTIVO'" formGroupName="pago">
      <div formGroupName="efectivo">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Monto recibido</mat-label>
          <input matInput formControlName="montoRecibido" type="number" min="0">
        </mat-form-field>
        <p class="vuelto" *ngIf="montoRecibido >= total">Vuelto: {{ vuelto | currency:'CRC':'symbol-narrow' }}</p>
      </div>
    </div>

    <div class="resumen-total">
      Total a pagar: <b>{{ total | currency:'CRC':'symbol-narrow' }}</b>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-stroked-button type="button" (click)="cancelar()">Cancelar</button>

    <button mat-raised-button color="primary" type="submit"
            [disabled]="pedidoForm.invalid || (pedidoForm.value.tipoPago==='EFECTIVO' && montoRecibido < total)">
      Confirmar pedido
    </button>
    
  </mat-dialog-actions>
</form>
