<div *ngIf="promocion" class="resaltado">
  <h2>{{ promocion.nombre }}</h2>

  <p><strong>Tipo de promoción:</strong>
     <span class="tipo-promocion">{{ promocion.productos?.length ? 'Por producto' : 'Por categoría' }}</span>
  </p>

  <span *ngIf="promocion.productos?.length">
  {{ getNombresProductos() }}
</span>
<span *ngIf="promocion.categorias?.length">
  {{ getNombresCategorias() }}
</span>

  <p><strong>Descuento:</strong>
    <span class="valor-descuento">
      {{ promocion.tipoDescuento === 'PORCENTAJE' ? promocion.descuento + '%' : '₡' + promocion.descuento }}
    </span>
  </p>

  <p><strong>Fecha de inicio:</strong> {{ promocion.fechaInicio | date:'longDate' }}</p>
  <p><strong>Fecha de fin:</strong> {{ promocion.fechaFin | date:'longDate' }}</p>
</div>
