<p *ngIf="promocion">Promoción cargada: {{ promocion.nombre }}</p>
<p *ngIf="!promocion">No se ha cargado ninguna promoción</p>

<div *ngIf="promocion">
  <h2>{{ promocion.nombre }}</h2>

  <p><strong>Tipo de promoción:</strong> {{ promocion.productos?.length ? 'Por producto' : 'Por categoría' }}</p>

  <p><strong>Aplica a:</strong>
    <span *ngIf="promocion.productos?.length">
      <!-- {{ promocion.productos.map(p => p.nombre).join(', ') }} -->
    </span>
    <span *ngIf="promocion.categorias?.length">
      <!-- {{ promocion.categorias.map(c => c.nombre).join(', ') }} -->
    </span>
  </p>

  <p><strong>Descuento:</strong>
    {{ promocion.tipoDescuento === 'PORCENTAJE' ? promocion.descuento + '%' : '₡' + promocion.descuento }}
  </p>

  <p><strong>Fecha de inicio:</strong> {{ promocion.fechaInicio | date:'longDate' }}</p>
  <p><strong>Fecha de fin:</strong> {{ promocion.fechaFin | date:'longDate' }}</p>
</div>

 <!-- //TERMINAR DE CONFIGURAR EL DETALLE DE PROMOCION PORQUE SE MUESTRA EN BLANCO CON EL MENSAJE NO SE HA CARGADO NINGUNA PROMOCION -->