<form [formGroup]="formCreate" novalidate>
  <mat-card class="card-content">
    <mat-card-header>
      <mat-card-title class="title">Crear Usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Nombre -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre usuario" formControlName="nombre" />
            @if (errorHandling('nombre')) {
              <mat-error>{{ errorHandling('nombre') }}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <!-- Correo -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="Correo electrónico" formControlName="email" />
            @if (errorHandling('email')) {
              <mat-error>{{ errorHandling('email') }}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <!-- Password -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" />
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            @if (errorHandling('password')) {
              <mat-error>{{ errorHandling('password') }}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <!-- Confirmar Password -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Confirmar Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirmar Password" formControlName="confirmpassword" />
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
          @if (formCreate.hasError('passwordsMismatch') && formCreate.touched) {
            <mat-error>Las contraseñas no coinciden.</mat-error>
          }
        </div>
      </div>

      <!-- Rol -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Rol</mat-label>
            <mat-select placeholder="Seleccionar rol" formControlName="role">
              <mat-option *ngFor="let r of roles" [value]="r.id">{{ r.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button class="btn-secondary" (click)="submitForm()">Registrar</button>
      <button mat-stroked-button class="btn-tertiary" type="reset" (click)="onReset()">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>
