<div class="resena-container">
  <h1 class="resena-titulo">Reseñas de usuarios</h1>

  <mat-form-field class="filtro">
    <mat-label>Filtrar por producto</mat-label>
    <mat-select [(ngModel)]="filtroProducto" (selectionChange)="filtrarResenas()">
      <mat-option value="">Todos</mat-option>
      <mat-option *ngFor="let producto of productosUnicos" [value]="producto">
        {{ producto }}
      </mat-option>
    </mat-select>
  </mat-form-field>

 <div *ngIf="resenasFiltradas.length > 0; else sinResenas" class="resena-grid">
    <mat-card *ngFor="let resena of resenasFiltradas" class="resena-card mejorada">
      <mat-card-header>
        <div class="cabecera-usuario">
          <div class="avatar-inicial">
            {{ resena.usuario.nombre.charAt(0).toUpperCase() }}
          </div>
          <div>
            <div class="nombre-usuario">{{ resena.usuario.nombre }}</div>
            <div class="fecha-reseña">{{ resena.fecha | date: 'mediumDate' }}</div>
          </div>
        </div>
      </mat-card-header>

      <mat-card-content>
        <p class="comentario">{{ resena.comentario || 'Sin comentario' }}</p>
        <div class="estrellas">
          <mat-icon *ngFor="let star of [1,2,3,4,5]" color="warn">
            {{ star <= resena.valoracion ? 'star' : 'star_border' }}
          </mat-icon>
          <span class="puntaje">({{ resena.valoracion }}/5)</span>
        </div>
      </mat-card-content>

      <mat-card-actions aling="end">
        <button mat-stroked-button color="primary" [routerLink]="['/resena', resena.id]" class="btn-ver">
          Ver detalle
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <ng-template #sinResenas>
    <p class="sin-resenas">No hay reseñas disponibles.</p>
  </ng-template>
</div>