<div class="login-wrapper">
  <mat-card class="login-card mat-elevation-z8">
    <!-- Lado izquierdo -->
    <div class="login-left">
      <img src="/images/logo.jpg" alt="Logo" class="logo" />
      <h2>Mipache Library</h2>
      <p>Bienvenido al sistema de gestión de libros, pedidos y reseñas.</p>
    </div>

    <!-- Formulario derecho -->
    <div class="login-right">
      <h1>Iniciar sesión</h1>

      <form [formGroup]="formulario" novalidate>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Correo</mat-label>
          <input
            matInput
            formControlName="correo"
            placeholder="ejemplo@correo.com"
          />
          <mat-error *ngIf="errorHandling('correo')"
            >{{ errorHandling('correo') }}</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hide = !hide"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="errorHandling('password')"
            >{{ errorHandling('password') }}</mat-error
          >
        </mat-form-field>

        <div class="button-group">
          <button mat-stroked-button class="btn-form" (click)="submitForm()">
            <mat-icon>login</mat-icon> Ingresar
          </button>

          <a mat-stroked-button class="btn-form" routerLink="/usuario/registrar">
            <mat-icon>person_add</mat-icon> Registrarse
          </a>
        </div>
      </form>
    </div>
  </mat-card>
</div>
